@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html{
font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;

}

body{
background-color:var(--black);
color: var(--white);

}
@font-face {
font-family: futurak;
src: url(futurak\ \(4\).ttf );



}



:root{
--white:#ffffff;    
--black: #000000;
--red: #eb3238 ;
--light-gray:#e0e0e0;

}

header{
    border-bottom: 1px solid rgb(61, 49, 49);
}
.parent{
margin-top: 6px;
display: flex;
justify-content: space-around;
align-items:center;

flex-wrap: wrap;

}




.logo-image{
width: 165px;
margin-top: 3px;




}

.navbar-items{
display: flex;
flex-wrap: wrap;
gap: 16px;

}


.nav-item{
margin-top: 30px;
text-decoration: none;
font-size: 1.7rem;
color: var(--white);
flex-wrap: wrap;
}






.website-btn1{
font-size: 1.4rem;
padding: 14px;
margin-left: 11px;
border: 1px solid white;
background-color: black;
color: aliceblue;
border-radius: 30px;

}
.website-btn2{
font-size: 1.4rem;
padding: 14px;
border:none;
background-color:#ff0000;
color: aliceblue;
border-radius: 30px;


}

.icon-span{
background-color: var(--white);
padding: 5px 6px;
border-radius: 24px;
color: var(--red);
}
.introduction h1 {
    text-align: center;
    font-size: 4rem;
}
.introduction p{
    text-align: center;
    color: var(--light-gray);
    font-size: 1.6rem;
}
.restaurant h1{
    margin-top: 60px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
}
.restaurant p{
    text-align: center;
    font-size: 1.6rem;
    color: var(--light-gray);
}
.font-heading7{
 font-family: futurak;
}
.restaurant-sec{
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative;
    top: 100px;
    right: 50px;
}
.restaurant-img img{
    width: 560px;
    border-radius: 10px;
}
.village-restaurant{
 display: flex;
 justify-content: center;
 gap: 80px;
 position: relative;
 top: 120px;

}
    .village-restaurant-img img{
      width: 580px;
      border-radius: 10px;
    }
    .franchises-restaurants{

    }
       .text2{
text-align: center;
position: relative;
top: 200px;
font-size: 3.2rem;
font-weight: 600;
       }
    .islamabad{
        display: flex;
        justify-content: center;
        position: relative;
        top: 250px;
        gap: 20px;
    }
    .content{
        font-size: 2.1rem;
        position: relative;
        top: 50px;
          font-weight: 400;
    }
    .content p{
        color: var(--light-gray);
        font-size: 1.5rem;
    }
    .faisalabad{
     display: flex;
     justify-content: center;
     position: relative;
     top: 300px;
     gap: 80px;
    }
    .faisalabad-content h1{
        font-size: 3.2rem;
                font-weight: 400;
    }
    .faisalabad-content p{
        font-size: 1.5rem;
        color: var(--light-gray);

    }
    .Bahawalpur{
        display: flex;
        justify-content: center;
        position: relative;
        top: 340px;
        gap: 60px;
    }
  .Bahawalpur-head{
font-size: 3.2rem;
font-weight: 400;
  }
  .Bahawalpur-para{
    font-size: 1.5rem;
    color: var(--light-gray);
  }
  .Express-sec{
position: relative;
top: 400px;
  }
  .Express-head{
text-align: center;
font-size: 3rem;
font-weight: 600;
  }
  .Express-para{
    text-align: center;
    font-size: 1.5rem;
    color: var(--light-gray);
  }
  .Express-img img{
    width: 540px;
    border-radius: 10px;
  }
  .Express-sec2{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
  }
  .Express-text{
    font-size: 1.5rem;
    color: var(--light-gray);
  }
  .Express-franchise-location{
    position: relative;
    top: 450px;
  }
  .Express-head2{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
  }
  .parrent1{

position: relative;
top: 200px;
right: 120px;
display: flex;
justify-content: center;

}
.box1-heading{
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  top: 20px;
}
.font-heading6{
  font-size: 2.2rem;
  
}
.area1{
  font-size: 1.5rem;
  color: var(--red);
  position: relative;
  right: 340px;
  top: 20px;
}
.location{
font-size: 1.5rem;
color: var(--light-gray);
position: relative;
top: 30px;
}
.content-num{
font-size: 1.5rem;
color: var(--light-gray);
position: relative;
top: 40px;
left: 80px;
}
.box1-btn{
  font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 70px;
left: 70px;
}
.box2-btn{
 font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 50px;
right: 150px;
}
.box02-btn{
 font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 50px;
right: 120px;}
.box3-btn{
 font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 50px;
right: 150px;
}
.parrent2{
  display: flex;
  position: relative;
  top: 350px;
 left: 170px;
}
.parrent3{
  display: flex;
  position: relative;
  top: 500px;
  left: 170px;
}
.parrent3-img{
  width: 356px;
}
.parrent3-image{
  max-width: 306px;
}
.area3{
  font-size: 1.5rem;
  color: var(--red);
  position: relative;
  right: 300px;
  top: 20px;
}
.Express-franchise-braches{
position: relative;
top: 300px;
left: 150px;
}
.parrent3-img{
    width: 350px;
    height: 250px;
}
.parrent3{
   position: relative;
   left: 335px;
top: 750px;
  

}
.Village-Franchise{
  position: relative;
  top: 900px;
}
.village-head{
  text-align: center;
  font-size: 3.2rem;
}
.village-parrent{
  display: flex;
position: relative;
left: 320px;
top: 50px;
  gap: 40px;
}
.village-img img{
  width: 546px;
}
.village-span{
  color: var(--red);
  font-size: 1.4rem;
}
.village-text{
  font-size: 3.2rem;
}
  .village-num-location{
    font-size: 1.5rem;
    color: var(--light-gray);
  }
 


.section-footer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
height: 80vh;

position: relative;
left: 20px;
gap: 50px;
top: 950px;





}


.para-policy{
color:var(--light-gray);
margin: 30px;
line-height: 1.4;
font-family: "Inter", sans-serif;
font-size: 1.5rem;
font-weight: 400;


}



.terms{
font-size: 1.5rem;
text-decoration: none;
font-family: "Inter", sans-serif;
font-weight: 400;
position: relative;
left: 30px;
color: var(--light-gray);
margin: 10px;
}

.Privacy-logo{
position: relative;
left: 30px;




}

.links-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;


}




.links{
  text-decoration: none;
  font-family: "Inter", sans-serif;
font-size: 1.5rem;
color: var(--light-gray);
font-weight: 500;
line-height: 3.2;

}

.ContactUs-heading1{
  color: var(--light-gray);
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 400;



}

.ContactUs-heading2{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;
line-height: 2.5;


}



.ContactUs-para{
font-size: 1.5rem;
font-family: "Inter", sans-serif;
font-weight: 300;





}

.head-office-number{
  color: var(--white);
font-size: 1.8rem;
font-family: "Inter", sans-serif;
font-weight: 400;
margin-top: 10px;


}

.head-office-number{
  color: var(--light-gray);
font-size: 1.5rem;
text-decoration: none;
font-family: "Inter", sans-serif;
font-weight: 400;
line-height: 1.7;




}
.Email-Address-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;
line-height: 1.7;



}

.Email{
text-decoration: none;
font-family: "Inter", sans-serif;
color:var(--light-gray);
font-size: 1.5rem;
font-weight: 500;
line-height: 1.7;

}



.delivery-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;
line-height: 1.7;




}

.delivery-number{
font-size: 1.5rem;
text-decoration: none;
font-family: "Inter", sans-serif;
font-weight: 400;
line-height: 1.7;
color: var(--light-gray);




}

.Follow-us{
position: relative;
bottom: 150px;



}







.Follow-us-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 400;
/* line-height: 3.4; */
position: relative;
top: 30px;

}

.social-link{
text-decoration: none;
color: var(--red);
font-size: 3.7rem;
position: relative;
top: 40px;

}

.app-store{
text-decoration: none;
margin-top: 20px;
margin: 6px;
position: relative;
top: 30px;

}
.google-store{
text-decoration: none;
margin-top: 20px;
margin: 6px;
position: relative;
top: 60px;





}

.snp-main{
display: flex;
justify-content: space-between;
position: relative;
top: 780px;

}

.spn-2025{
font-size: 1.7rem;
color:var(--light-gray);
position: relative;
left: 290px;
bottom: 10px;
}

.spn-2025{
color: var(--light-gray);
font-weight: 400;

}







.tossdown{
text-decoration: none;
color: var(--light-gray);
font-family: "Inter", sans-serif;
font-size: 1.3rem;
font-weight: 400;
position: relative;
right: 400px;
top: 3px;
}

